:root{
  --canvas-bg: rgba(245, 158, 11, 1);
  --main-bg: rgba(254, 226, 226, 1);
  --btn-bg: rgba(209, 213, 219, 1);
  --btn-hover-bg: rgba(243, 244, 246, 1);
}

body {
  background-color: var(--main-bg);
}

.upload-modal{
  position:fixed;
  display: flex;
  width: min(100%, 800px);
  max-width: 100%;
  height: min(100%, 400px);
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-overlay{
  position: fixed;
  background-color: black;
  opacity: 50%;
  z-index: 90;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.close {
  display: none;
}

button:focus {
  outline: none;
}

.btn-ctrl{
  height: 2.75rem;
  width: 2.75rem;
  border-radius: 0.25rem;
  padding: 0.25rem;
  margin-right: 0.25rem;
  background-color: var(--btn-bg);
}

.btn-ctrl:hover{
  background-color: var(--btn-hover-bg);
}

canvas{
  background-color: var(--canvas-bg);
  border-radius: 0.25rem;
}