:root{
  --canvas-bg: rgba(245, 158, 11, 1);
  --main-bg: rgba(254, 226, 226, 1);
  --btn-bg: rgba(209, 213, 219, 1);
  --btn-hover-bg: rgba(243, 244, 246, 1);
  --balls-bg: rgba(252, 165, 165, 1);
  --border-radius: 0.25rem;
}


* { 
  margin:0; 
  padding:0; 
  box-sizing:border-box;
  max-width: 100%;
  font-family: monospace, monospace;
  font-size: 1rem;
}

button{
  background: none;
  box-shadow: none;
  border: none;
}

button:focus {
  outline: none;
}

body {
  background-color: var(--main-bg);
  box-sizing: border-box;
  font-family: inherit;
  line-height: inherit;
}

input[type=text] {
  border-radius: var(--border-radius);
  border: none;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  width: 100%;
}

input[type=text]:focus{
  outline: none;
}

#app{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

.upload-form{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.upload-modal{
  position:fixed;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg);
  border-radius: var(--border-radius);
  padding: 1.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: min(100%, 800px);
  max-width: 100%;
  height: min(100%, 400px);
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.upload-controls{
  margin-left: auto;
  margin-right: auto;
}

.modal-overlay{
  position: fixed;
  background-color: black;
  opacity: 50%;
  z-index: 90;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.close {
  display: none;
}

.btn-ctrl{
  height: 2.75rem;
  min-width: 2.75rem;
  border-radius: var(--border-radius);
  padding: 0.25rem;
  margin-right: 0.25rem;
  background-color: var(--btn-bg);
}

.btn-ctrl:hover{
  background-color: var(--btn-hover-bg);
}

.btn-container{
  display: flex;
  margin-left: 0.25rem;
}

.btn-scroll{
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  height: 1rem;
}

.btn-scroll-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 0.25rem;
  margin-right: 1rem;
}

.btn-file{
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  margin-left: 0.5rem;
  text-align: center;
  white-space: nowrap;
}

.balls-container{
  display: flex;
  border-radius: var(--border-radius);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  padding-right: 0.5rem;
  background-color: var(--balls-bg);
}

.img-container{
  border-radius: var(--border-radius);
  display: flex;
  flex-wrap: wrap;
  height: 3rem;
  overflow-y: auto;
  width: 100%;
}

.controls{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  width: 100%;
}

@media screen and (min-width: 640px) {
  .controls{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

canvas{
  background-color: var(--canvas-bg);
  border-radius: var(--border-radius);
}

.img-thumb{
  display: block;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  object-fit: contain;
}

.grayscale{
  filter: grayscale(100%);
}

.img-upload{
  display: block;
  margin-bottom: 2.5rem;
  font-weight: 600;
}

.img-file-display{
  display: flex;
  background-color: white;
  border-radius: var(--border-radius);
  width: 100%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.img-file-display input[type=text]{
  box-shadow: none;
}

.img-file-display input[type=text]:hover{
  cursor: default;
}

input[type=text]{
  height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 00.5rem;
}

.selected{
  color: greenyellow;
}

.size{
  margin: 0 auto;
  display: block;
}