.image-upload-modal{
  position:fixed;
  display: flex;
  width: clamp(375px, min(100%, 800px), 800px);
  max-width: 100%;
  height: 800px;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-overlay{
  position: fixed;
  background-color: black;
  opacity: 50%;
  z-index: 90;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.close {
  display: none;
}